:80 {

    # Backend API
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    # Media files served by Django
    handle /media/* {
        reverse_proxy backend:8000
    }

    # Frontend (includes WebSockets)
    handle {
        reverse_proxy frontend:3000
    }

    encode gzip

    header {
        Permissions-Policy "interest-cohort=()"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
