[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
pillow = "*"
[dev-packages]
drf-spectacular = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
